#trick-logger-container {
  display:flex;
  padding: 20px;
  /* border: 2px solid black; */
  border-radius: 10px;
  /* background-color: #699279; */
  
}

#previous-tricks-container {
  display: flex;
  align-items: center;
  /* border: 2px solid black; */
  border-radius: 10px;
  /* background-color: #699279; */
}

#trick-data-entry-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 2rem;
}

#current-trick {
  display: flex;
  align-items: center;
  border-radius: 10px;
  padding: 10px;
  /* background-color: #699279; */
}

p.trick-label {
  font-weight: 500;
  color: white;
  text-align: center;
  margin: 5px;
}

.previous-tricks {
  display: flex;
  flex-direction: column;
  background-color: #699279;
  min-width: 420px;
  min-height: 800px;
  padding: 10px;
  border-radius: 10px;
  border: solid #53735F 1px;


  /* margin-bottom: .15rem; */
  /*max-height: 300px;     /* limit height */
  /*overflow-y: auto;      /* enable vertical scrolling if needed */
}

ul{
  list-style: none;      /* remove default bullets */
  padding: 0;
  margin: 0;
  display: grid;         /* enable grid layout */
  grid-template-columns: repeat(6, 1fr); /* 6 equal columns */
  /*gap: .15rem;             /* spacing between items */

}

ul.trickRow {
  /* border: solid #53735F 2px; */
  border-radius: 10px;
  /* background-color: #486c56; */
  /* background-color: #CBB592; */

}

.previous-trick-row {
  display: flex;
  align-items:center;
  padding: .25rem;
  margin:3px;
  /* background-color: #CBB592; */
  border-radius: 10px;
  /* border: solid #53735F 1px; */
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);

}

ul.trickRow.current {
  align-items: center;
  min-height:120px;
  min-width: 500px;
  background-color: #699279;
  border: solid #53735F 1px;
}

li {
  padding: .5rem;
  
  /* text-align: center; */
}

button.small-square-button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.3em 0.3em;
  margin: 0 0.5em;
  background-color: #f5df9d;
  cursor: pointer;
  transition: border-color 0.25s;
  height:50px;
  aspect-ratio: 1 / 1;

}

button.small-square-button:hover {
  border-color: #6b8480;
  background-color:#e4c361 ;
}

button.small-square-button img{
  height: 30px;
}

