ul{
  list-style: none;      /* remove default bullets */
  padding: 0;
  margin: 0;
  display: grid;         /* enable grid layout */
  grid-template-columns: repeat(6, 1fr); /* 3 equal columns */
  gap: .5rem;             /* spacing between items */

}

ul.trickRow {
  border: solid black 2px;
  border-radius: 10px;
  background-color: #486c56;
}

li {
  padding: .5rem;
  /* text-align: center; */
}

