* {
    font-family: Krub, sans-serif;
    color:#1a344d;
    /* border: 1px solid #1a344d; */
}

.grid-container {
    display: grid;
    gap: 1px;
    margin-bottom: 20px;
    grid-template-columns: repeat(6,1fr);
    grid-template-rows: auto auto;
    max-width: 900px;
    border: 2px solid #1a344d;

}

.grid-item {
    color: #1a344d;
    padding: 10px;
    text-align: center;
    border-radius: 4px;
    font-weight: bold;
    font-size: 1.25em;
}



.button-group input[type="radio"] {
  display: none;
}

.button-group label {
  display: inline-block;
  padding: 10px 20px;
  margin: 10px 4px;
  border-radius: 4px;
  background-color: #1a344d;
  color: white;
  font-weight: bold;
  font-size:1.25em;
  cursor: pointer;
  transition: all 0.2s;
}

.button-group input[type="radio"]:checked + label {
  background-color: #007BFF;
  color: white;
}